.nav-item {
    padding-right: 25px;
}
.nav-link {
    display: inline;
    padding-left: 2px !important;
}

.header-top {
    color: #353c5e;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 15px;
    font-style: normal;
    letter-spacing: 0.38px;
}

.header-bread {
    color: #000000;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.26px;
}

.inner-container {
    background-color: #ebf1fb;
    border-radius: 7px;
    width: 100%;
    position: relative;
    color: #303744;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.52px;
}

.inner-container.active {
    background-color: #207de6;
    color: #ffffff;
}

.inner-container:after {
    content: "";
    padding-top: 100%;
    display: block;
}

.inner-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.text-header {
    color: #207de6;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.44px;
}

.inner-content p {
    white-space: nowrap;
    margin-bottom: 0.4rem;
}

.inner-container-first {
    height: calc(50% - 0.75rem);
    margin-bottom: 1.5rem;
    background-color: #ebf1fb;
    border-radius: 7px;
    position: relative;
}

.inner-container-second {
    height: calc(50% - 0.75rem);
    background-color: #ebf1fb;
    border-radius: 7px;
    position: relative;
}

@media (max-width:768px){

    .nav-item {
        margin-bottom: 10px;
    }

    .nav-link {
        padding-left: 10px !important;
    }

    .inner-container {
        font-size: 10px;
        line-height: 12px;
    }
    .inner-content p {
        white-space: normal;
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 12px;
    }

    .text-header {
        font-size: 13px;
        line-height: 14px;
    }

    .inner-container img, .inner-container-first img{
        width: 30px;
    }

    .inner-container-first {
        height: calc(50% - 2px);
        margin-bottom: 5px
    }

    .short-div p{
        margin-bottom: 1px
    }

    .inner-container-second {
        height: calc(50% - 2px);
    }

    .inner-container-second img {
        width: 15px;
    }

    .padding-1 {padding-right: 7px;}
    .padding-2 {padding-left: 7px;}
    .padding-3 {padding-right: 5px;}
    .padding-4 {padding-left: 5px; padding-right: 5px;}
    .padding-5 {padding-left: 5px;}
}